body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: hsl(0, 0%, 100%);
}

.sidenav {
  position: fixed;
  overflow-x: show;
  overflow-y: scroll;
  top: 5px;
  left: 5px;
  bottom: 15px;
  right: 75%;
}

.sidenav .container{
    max-width: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: 75%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2);
  background: red;
  padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-at {
  background:;
  color: red;
}

.fa-twitter {
  background:;
  color: red;
}

.fa-linkedin {
  background;
  color: red;
}

.fa-youtube {
  background: ;
  color:red;
}

.fa-instagram {
  background:;
  color:red;
}

h1 {
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 20px
}

h2 {
  font-family: 'Arial', sans-serif;
  color: white;
  font-size: 20px
}
